asgiref==3.7.2
channels==4.0.0
Django==4.2.7
pytest-django==4.7.0
sqlparse==0.4.4
typing_extensions==4.8.0
async-timeout==4.0.3 
channels_redis==4.1.0 
redis==5.0.1
whitenoise==6.6.0
dj_database_url==2.1.0