<body>
  <header>
    <h1>Noughts & Crosses!</h1>
    {% if not login_page and not signup_page %}
    <div class="user-info">
      Logged in as {{ user }}
    </div>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% endif %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

<style>
  header {
    background-color: #252241;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    font-weight: bold;
  }

  .user-info {
    margin-bottom: 10px; 
  }
</style>