{% extends 'game_app/base_header.html' %}

{% block content %}
<div class="container">
  {% if winner_outcome in game_outcome%}
    <h1>You Win!</h1>
  {% elif a_draw in game_outcome%}
    <h1>It's a Draw!</h1>
  {% else %}
    <h1>You Lose!</h1>
  {% endif %}
  <div class="button-container">
    <form method="post" action="{% url 'game_home' %}">
      {% csrf_token %}
      <button type="submit" name="reset">Back to Main Menu</button>
    </form>
  </div>
</div>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .button-container {
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
{% endblock %}