{% extends 'game_app/base_header.html' %}

{% block content %}
<div class="container">
  <h1>{{ outcome_message }}</h1>
  <div class="button-container">
    <form method="post" action="{% url 'game_over' board_id=board_id player_game_id=player_game_id %}">
      {% csrf_token %}
      <button type="submit" name="reset">Restart Game</button>
    </form>
  </div>
</div>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .button-container {
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
{% endblock %}